progress=false
strict-ssl=true
save-exact=true
color=true
save=true
interactive=false
ignore-engines=true
check-files=true
no-progress=true
build-from-source=true
depth=0
access=public
scripts-prepend-node-path=true
